<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="CICD Demo Test">
        <classes>
            <class name="TestCases.TestClass1">
                <methods>
                    <include name="LoginToApplication"/>
                    <include name="VerifyPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>